<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/program_terminates_without_running_in_eclipse/src/program_terminates_without_running_in_eclipse/HOme.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="program_terminates_without_running_in_eclipse.HOme"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="program_terminates_without_running_in_eclipse"/>
</launchConfiguration>
